{% if is_paginated %}
    <ul class="pagination">
        <li {% if not page_obj.has_previous %}class="disabled"{% endif %}>
            <a href="{% if page_obj.has_previous %}{{ obj_url }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">&laquo;</a>
        </li>
        {% for page in paginator.page_range %}
        <li {% ifequal page_obj.number page %}class="active"{% endifequal %}>
            {% ifnotequal page_obj.numer page%}<a href="{{ obj_url }}?page={{ page }}">{{ page }}</a>
            {% else %}{{ page }}{% endifnotequal %}
        </li>
        {% endfor %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
            <a href="{% if page_obj.has_next %}{{ obj_url }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
{% endif %}